@media (prefers-color-scheme: dark){
   .navbares{
       background-color: black;

   }

   .logo_main::after{
    content: url(../img/whitee.png);
    width: 100%;
}
.main__title{
    color: white;
}
.carusel__title{
    color: white;
}
.carusel__btn{
    border: solid 1px white;
}
.learn{
    border: solid 1px white;
}
.phone h5{
    color: white;
}
.main__btn{
    margin-bottom: 5px;
    border: solid 1px white; 
}
.laptop h5{
    color: white;
}
.laptop p{
    margin-top: 50px;
    color: white;
}
.phone p{
    color: white;
}
.cell{
    color: white;
}
    body{
        background-color: #313131;
    }
    .logo::after{
        content: url(../img/LOGO_WHITE.png);
        width: 100%;
    }
   .input_btn{
    background: #313131;
   color: white;
   }

   .input{
     margin-bottom: 2px;
    border: solid 1px white;
    background-color: #313131;

   }
   .technique{
    color: white;
}

   .technique:hover{
    color: white;

}
.dropdown{
    color:   #313131;
}
.footer{
    background-color: black;
}
}





@media(max-width:950px){
    .learn{
        width: 180px;
        height: 45px;
        margin-bottom: 60px;

    }
  .block{
      width: 100%;
  }
    .carusel__title{
        font-size: 45px;
        line-height: 65px;
        margin-top: 50px;
        margin-bottom: 90px;
    }
}
@media(max-width:850px){
    .charge_price{
        margin-top: 10px;
    }
    .carusel__title{
        font-size: 40px;
        line-height: 60px;
        margin-top: 38px;
        margin-bottom: 70px;
    }
    .carusel__btn{
        width: 180px;
        height: 45px;
    }
 
}

@media(max-width:775px){

   
    .main__btn{
        font-size: 18px;
        width: 170px;
        height: 40px;
    }
    .main__title{
        margin-bottom: 45px;
        font-size: 45px;
        line-height: 60px;
    }
    .learn{
        font-size: 18px;
        width: 170px;
        height: 40px;
        margin-bottom: 50px;
        
    }
    .charge_price{
        margin-top: 20px;
    }
    .technique{
       font-size: 18px; 
    }
    .dropdown-item{
        font-size: 16px;
    }
    .input{

        width: 100%;
    }
    .input_btn{
        font-size: 12px;
line-height: 14px;
    width: 100%;
    }
    .bars{
        font-size: 22px;
    }
    .btn span{
       
        font-size: 16px;
    }
    .carusel__title{
        font-size: 35px;
        line-height: 50px;
        margin-top: 35px;
        margin-bottom: 55px;
    }

    .carusel__btn{
        
        width: 175px;
        height: 40px;
    }
    
    .intro__carusel-indicators {
        column-gap: 15px;
        margin-top: 20px;
    }

}

@media(max-width:600px){
    .footer_btn{
        width: 170px;
        height: 45px;
        font-size: 16px;
    }
    .main{
        margin-bottom: 60px;
    }
    .main__btn{
        width: 165px;
        height: 40px;
    }
    .main__title{
        margin-bottom: 35px;
        font-size: 40px;
        line-height: 55px;
    }
    .learn{
        width: 165px;
        height: 40px;
        margin-bottom: 50px;
        
    }
    .block_one h2{
        font-size: 20px;
    }
    .block_one p{
        font-size: 20px;
    }
    .charge_price{
        margin-top: 30px;
        width: 60px;
        height: 60px;
        font-size: 18px;
    }
    .item__price-one{
        width: 60px;
        height: 60px;
        font-size: 18px;
    }
    .item__price{
        width: 60px;
        height: 60px;
        font-size: 18px;
    }
    .charge_one h2{
        font-size: 22px;
    }
    .charge_one p{
        font-size: 22px;
    }
}

@media(max-width:500px){
    .footer__icons i{
        font-size: 30px;
    }
    .footer_btn{
        width: 160px;
        height: 45px;
        font-size: 14px;
    }
    .main{
        margin-bottom: 45px;
    }
    .main__btn{
        font-size: 16px;
        width: 160px;
        height: 38px;
    }
    .main__title{
        margin-bottom: 25px;
        font-size: 35px;
        line-height: 50px;
    }
    .learn{
        font-size: 18px;
        width: 160px;
        height: 38px;
        margin-bottom: 40px;
        
    }
    .cell{
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 25px;
    }
    .block_one h2{
        font-size: 18px;
    }
    .block_one p{
        font-size: 18px;
    }
    .items h2{
        font-size: 20px;
    }
    .items p{
        font-size: 20px;
    }
    .charge_price{
        margin-top: 40px;
        width: 50px;
        height: 50px;
        font-size: 16px;
    }
    .item__price-one{
        width: 50px;
        height: 50px;
        font-size: 16px;
    }

    .item__price{
        width: 50px;
        height: 50px;
        font-size: 16px;
    }
    .charge_one h2{
        font-size: 20px;
    }
    .charge_one p{
        font-size: 20px;
    }


    .technique{
        font-size: 16px; 
     }
   .bars{
       font-size: 20px;
   }
   .dropdown-item{
    font-size: 14px;
}

   .logo{
       margin: 0 auto;
   }
    .input{
      font-size: 8px;
        
    }
    .forms{
        flex-direction: column;
    }
    .input_btn{
        font-size: 10px;
line-height: 10px;
}
.btn span{
       
    font-size: 10px;
}
.carusel__title{
  font-size: 35px;
  line-height: 45px;
    margin-top: 30px;
    margin-bottom: 45px;
}
.carusel__btn{
    width: 170px;
    height: 38px;
    font-size: 16px;
}



}

@media(max-width:400px){
    .footer__icons i{
        font-size: 24px;
    }
    .footer_btn{
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
    .main{
        margin-bottom: 35px;
    }
    .main__btn{
        font-size: 16px;
        width: 150px;
        height: 35px;
    }
    .main__title{
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 45px;
    }
    .learn{
        font-size: 16px;
        width: 150px;
        height: 35px;
        margin-bottom: 30px;
        
    }
    .cell{
        font-size: 26px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    .block_one h2{
        margin-top: 28px;
        font-size: 16px;
    }
    .block_one p{
        font-size: 16px;
    }
    .items{
        margin-top: -60px;
        margin-left: 75px;
    }
   
    .charge_price{
       margin-top: 55px;
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
    .item__price-one{
       margin-top: -10px;
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    .item__price{
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
    .charge_one h2{
        font-size: 18px;
    }
    .charge_one p{
        font-size: 18px;
    }
    .items h2{
       font-size: 18px;
        text-align: center;
       }
       .items p{
           font-size: 18px;
          text-align: center;
       }
    .technique{
        font-size: 14px; 
     }
    .dropdown-item{
        font-size: 12px;
    }

    .input_btn{
        font-size: 8px;
line-height: 10px;
}
.input{
    font-size: 5px;
      
  }
  .carusel__title{
      font-size: 28px;
      line-height: 35px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.carusel__btn{
    width: 155px;
    height: 30px;
  font-size: 14px;
}
.carusel__indicator{
    width: 7px  !important;
    height: 7px !important;

}
.intro__carusel-indicators {
    column-gap: 10px;
    margin-top: 15px;
}

}
@media(max-width:350px){
    .footer__icons i{
        font-size: 20px;
        margin-left: 8px;
    }
    .footer_btn{
        width: 140px;
        height: 35px;
        font-size: 12px;
    }
    
    .main{
        margin-bottom: 25px;
    }
    .main__btn{
        font-size: 14px;
        width: 135px;
        height: 30px;
    }
    .main__title{
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 35px;
    }
    .learn{
        font-size: 14px;
        width: 140px;
        height: 30px;
        margin-bottom: 25px;
        
    }
    .cell{
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 15px;
    }
    .laptop h5{
        font-size: 14px;
    }
    .laptop p{
        font-size: 12px;
    }
    .phone h5{
        font-size: 14px;

    }
    .phone p{
        font-size: 12px;
    }
    .block_one h2{
        font-size: 14px;
    }
    .block_one p{
        font-size: 14px;
    }
    .items h2{
        font-size: 15px;
    }
    .items p{
        font-size: 15px;
    }
    .charge_price{
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .item__price-one{
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    .item__price{
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .charge_one h2{
        font-size: 15px;
    }
    .charge_one p{
        font-size: 15px;
    }
    .technique{
        font-size: 14px; 
     }
    .dropdown-item{
        font-size: 10px;
    }
    .carusel__title{
        line-height: 28px;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .carusel__btn{
        width: 150px;
        height: 30px;
        font-size: 12px;
    }
    .main__logo{
        margin-bottom: 10px;
    }
    .footer_logo{

        margin-top: 15px;
    }
    
    .footer_link{
        font-size: 15px;
    }
}