@import './font.css';

:root {
    --noto400: 'NotoSansMono-Regular';
    --noto600: 'NotoSansMono-SemiBold';
    --noto300: 'NotoSansMono-Light';
    --noto500: 'NotoSansMono-Medium';

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    background-color: white;
}

.navbares {

    background-color: #313131;
}

.logo::after {
    content: url(../img/Logo.png);
    width: 100%;
}


.bars {
    font-size: 35px;
    color: white;
}


.links {
    margin-right: 80px;
}


.nav-link {
    color: white;
    font-size: 14px;
    line-height: 19px;
    font-family: var(--noto400);
}

.nav-link:hover {
    color: white;
}

.input {
    font-family: var(--noto500);

    width: 440px;
    background-color: white;
    border: solid 1px black;

}

.input_btn {
    width: 190px;
    color: white;
    background-color: black;
    border: solid 1px white;
    font-family: var(--noto400);
    font-size: 14px;
    line-height: 19px;

}

.btn span {
    color: white;
    font-size: 16px;
}

.input_btn :hover {
    color: white;
}

.technique:hover {
    color: black;

}

.technique {
    font-size: 20px;
    color: black;
}

.dropdown-menu {
    transition: 1s;
    background-color: #313131;
}



.dropdown-divider {
    color: white;

}

.dropdown-item {
    color: white;
}

.dropdown {
    color: white;
}


/* carusel starts */
.carusel__indicator {
    background-color: #ABABAB !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.carusel__indicator.active {
    background-color: black !important;
    transform: scale(1.2);
}

.intro__carusel-indicators {
    margin: 0;
    column-gap: 20px;
    position: static;
    margin-top: 30px;
}

.carusel__img {
    filter: drop-shadow(-10px 5px 3px rgba(0, 0, 0, 0.25));

}

.carusel__title {
    margin-top: 70px;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    margin-bottom: 121px;
}


.carusel__btn {
    width: 190px;
    height: 50px;
    background: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 25px;
    color: white;
    font-family: var(--noto400);
    margin: 0 auto;
}

.info {
    margin-bottom: 50px;
}

/* item start */
.item__imges {
    width: 100%;
}

.item__img {

    width: 100%;
}

.item {
    margin-bottom: 30px;
    position: relative;
}

.item__price {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #313131;
    color: white;
}

.item__bg {
    background-image: url(../img/item\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.items {
    position: absolute;
    margin-top: -85px;
    margin-left: 20px;
}

.items h2 {
    font-family: var(--noto500);
    font-size: 24px;
    margin-bottom: 5px;
}

.items p {
    font-family: var(--noto300);
    font-size: 24px;

}

.block {
    position: relative;
}

.item__price-one {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #313131;
    color: white;

}

.block_one {
    margin-top: -70px;
    margin-left: 20px;
}

.block_one h2 {
    font-size: 24px;
    font-family: var(--noto500);
    margin-bottom: 5px;
}

.block_one p {
    font-size: 24px;
    font-family: var(--noto300);
}

.charges {
    position: relative;
}

.charge {
    background-image: url(../img/bgg.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.charge_one {
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
}

.charge_one h2 {
    font-family: var(--noto500);
    margin-bottom: 5px;
    font-size: 24px;
}

.charge_one p {
    font-size: 24px;
    font-family: var(--noto300);
}

.charge_price {
    position: absolute;
    top: 140px;
    left: 20px;
    width: 70px;
    height: 70px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #313131;
    color: white;
}

.boxes {
    position: relative;

}

.box {
    background-image: url(../img/bgg.png);
    background-repeat: no-repeat;
    background-size: cover;

}

/* item end */

/* phone stars */

.learn {
    width: 190px;
    height: 50px;
    background: #313131;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.cell {
    font-family: var(--noto600);
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 30px;
}

.phone h5 {

    margin-top: -65px;
    text-align: center;
    font-family: var(--noto500);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
}


.phone p {

    text-align: center;
    font-family: var(--noto300);
    font-size: 14px;
    line-height: 19px;
}

.apple {
    margin-bottom: 60px;
}

/*  phone end */
/* laptop started */

.laptops {
    margin-bottom: 30px;
}

.laptop h5 {
    margin-top: -65px;
    text-align: center;
    font-family: var(--noto500);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
}

.laptop p {

    text-align: center;
    font-family: var(--noto300);
    font-size: 14px;
    line-height: 19px;
}

/* laptop end */

/* main start */

.main__logo {
  
    margin-bottom: 20px;
}

.main_img {
    width: 100%;
}

.logo_main::after{
    content: url(../img/main\ logo.png);
    width: 100%;
}
.main__title {
    width: 520px;
    font-family: var(--noto40000);
    margin-bottom: 70px;
    font-size: 48px;
    line-height: 65px;

}

.main__btn {
    width: 190px;
    height: 50px;
    background: #313131;
    color: white;
    font-size: 18px;
    line-height: 25px;
    font-family: var(--noto400);
    display: flex;
   align-items: center;
    justify-content: center;
}

.main{
    margin-bottom: 70px;
}

/* footer stars */

.footer{
    background: #313131;
    
}

.footer_logo{

    margin-top: 30px;
}



.footer__info p{
    margin-left: 18px;
    color: white;
    font-size: 18px;
line-height: 25px;


}



.footer_btn{
    width: 190px;
    height: 50px;
    background: #313131;
border: 1px solid #FFFFFF;
color: white;
font-size: 18px;
line-height: 25px;
}

.footer_link{
    font-size: 18px;
   margin-left: 30px;
    color: white;
    font-family: var(--noto400);
}


.footer__icons i{
 margin-left: 10px;
    color: white;
    font-size: 40px;
}